.merge-request h2.title,
.issue h2.title {
  font-size: 1.6em;
}

.merge-request h2.title,
.issue h2.title,
.file-content.code .line-numbers a,
.file-content.code pre code {
  font-family: "Fira Code", "Inconsolata-g", "Hasklig", "Iosevka Tora", "Iosevka Term", "Hack", "Noto Sans";
}

.note-button.add-diff-note {
  opacity: 0.01;
}

.issuable-details .detail-page-description,
#notes .description,
.notes p,
.notes li,
#notes p {
  font-family: "Fira Code", "Inconsolata-g", "Hasklig", "Iosevka Tora", "Iosevka Term", "Hack", "Noto Sans";
}


.diff-table.code, table.code,
textarea.js-gfm-input,
.code.highlight.white {
  font-family: "Fira Code", "Inconsolata-g", "Hasklig", "Iosevka Tora", "Iosevka Term", "Hack", "Noto Sans";
}

.code.highlight.white {
  background: #eeeeee;
}

.breadcrumbs-sub-title,
.code.white code {
  font-family: "Fira Code", "Inconsolata-g", "Hasklig", "Iosevka Tora", "Iosevka Term", "Hack", "Noto Sans";
}

.breadcrumbs-sub-title {
  letter-spacing: 0.8px;
}
